<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22></text></svg>">
        <script src="https://kit.fontawesome.com/0dc21b8ed4.js" crossorigin="anonymous"></script>
        {# Dentro del bloque 'head' para los estilos CSS #}
        {% block stylesheets %}
            <!-- Enlace al archivo CSS de Bootstrap -->
        {% endblock %}

        {# Dentro del bloque 'body' al final para los scripts de JavaScript #}
       
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
